body {
    margin: 0;
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    background-color:  #633A34;
    padding: 0;
    margin: 0;
    height: 120px;
    width: 100%;
}
aside{
    flex: 1;
    order: 2;
    margin-bottom: 10px;
}

main{
    order: 1;
    flex: 4;
}

.logo {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
}

nav {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    background-color: #FFE4E1;
}

.nazvanie {
    text-align: center;
    background-color: #C08081;
    padding: 10px;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #8B6D5C;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #633A34;
    height: 120px;
}

table {
    font-size: small;
    background-color: brown;
}
td{
    font-size: small;
}
th{
    background-color: silver;
    padding: 5px;
    font-size:small;
}
td, th {
    padding: 0px;
    color: brown;
}

th {
    background: #8B6D5C;
}
tr:nth-child(even) {
    background-color: #FFE4E1;
}
tr:nth-child(odd) {
    background-color: #808080;
}

/* Mobile version */
#mobile-version{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.giper{
    order: 2;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: small;
    text-align: center;
    background-color: brown;
    padding: 0px;
    order: 1;
}
.aboba{
    order :3;
}

@media only screen and (min-width: 800px){
    header{
        display: flex;
        flex-direction: row;
        background-color: saddlebrown;
    }
    #mobile-version .content{
        display:flex;
        flex-direction: column;
    }
   aside{
        order :1; 
    }
    .giper{
        order: 2;
    }
    table {
        order : 3;
    }
    .aboba{
        order :4;
    }
}
